<section aria-label="Cart Section">
  <!-- Banner -->
  <div
    class="relative h-[400px] overflow-hidden [clip-path:polygon(0_0,100%_0,100%_85%,0_100%)]"
  >
    <img
      src="/shop-bg.jpg"
      alt="Shop Background"
      class="size-full object-cover object-center"
    />

    <h2
      class="absolute top-1/2 left-1/2 -translate-1/2 text-accent text-shadow-md text-shadow-orange-200 text-7xl md:text-8xl lg:text-9xl font-secondary font-semibold text-center"
    >
      Shopping Cartytytyfghtftuytuytuytut7ui
    </h2>
  </div>

  <app-container
    className="grid grid-cols-1 items-start md:grid-cols-[1fr_400px] gap-10"
  >
    <!-- Items -->
    <div class="grid grid-cols-1 items-center gap-10">
      <!-- From Your Cart -->
      <div class="flex flex-col gap-2 mt-5">
        <div class="flex items-center gap-3">
          <h3 class="text-3xl font-medium">Cart</h3>
          <span class="grid place-items-center border border-border p-2 text-xl"
            >{{cartProductCount()}}</span
          >
        </div>

        @if (cartProducts().length === 0) {
        <div class="flex flex-col gap-5 py-5">
          <img src="/empty-cart.svg" alt="Empty Cart" />
          <p class="text-center text-lg font-medium py-5">Your Cart is Empty</p>
        </div>
        }

        <!-- Cart Products -->
        @else {
        <ul class="grid grid-cols-1 items-center space-y-2 mt-5">
          @for (product of cartProducts(); track product.id) {
          <li>
            <article
              class="flex items-center gap-5 border border-border p-2 rounded-lg"
            >
              <!-- Product Image -->
              <figure class="relative rounded-lg overflow-hidden">
                <img
                  [src]="product.image_path"
                  [alt]="`${product.name}'s Picture`"
                  class="aspect-square max-w-[100px] object-cover rounded-lg border border-border transition-all duration-200 hover:brightness-90 hover:scale-105 ease-in-out"
                />

                <!-- Remove Product From Cart -->
                <button
                  class="absolute left-1 bottom-1 grid place-items-center p-1.5 cursor-pointer border border-border bg-surface rounded-full"
                  aria-label="Remove Product From Cart"
                  (click)="removeFromCart(product.id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="red"
                    class="size-6 transition-transform duration-300 hover:-scale-y-125 ease-in-out"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                    />
                  </svg>
                </button>
              </figure>

              <!-- Product Content -->
              <div class="flex flex-col gap-1.5 flex-1">
                <h3 class="text-lg font-medium line-clamp-1">
                  {{product.name}}
                </h3>
                <span
                  class="inline-flex w-max items-center text-sm text-surface bg-accent px-3 py-0.5 rounded-full transition-colors duration-200 hover:bg-accent/90"
                  >{{product.category}}</span
                >

                <div class="flex items-center justify-between gap-2">
                  <!-- Price & Discount -->
                  <span class="text-lg font-medium"
                    >{{product.price | currency:'INR':'symbol':'1.0-0'}}</span
                  >

                  <!-- Quantity -->
                  <div
                    class="flex items-center gap-1 rounded-lg border border-border p-1"
                  >
                    <button
                      class="cursor-pointer transition-transform duration-200 hover:scale-103 ease-in-out"
                      aria-label="Decrease Product Quantity or Remove Product From Cart"
                      (click)="removeFromCart(product.id)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="red"
                        class="size-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        />
                      </svg>
                    </button>

                    <span class="font-medium">{{product.quantity}}</span>

                    <button
                      class="cursor-pointer transition-transform duration-200 hover:scale-103 ease-in-out"
                      aria-label="Increase Product Quantity"
                      (click)="addToCart(product)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="green"
                        class="size-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </article>
          </li>
          }
        </ul>
        }
      </div>

      <!-- From Your Wishlist -->
      <div class="flex flex-col gap-2 mt-3">
        <div class="flex items-center gap-3">
          <h3 class="text-2xl sm:text-3xl font-medium">From Your Wishlist</h3>
          <span class="grid place-items-center border border-border p-2 text-xl"
            >{{wishlistCount()}}</span
          >
        </div>

        @if (wishlistProducts().length === 0) {
        <div class="flex flex-col gap-5 py-5">
          <img src="/empty-wishlist.svg" alt="Empty Wishlist" />
          <p class="text-center text-lg font-medium py-5">
            Your Wishlist is Empty
          </p>
        </div>
        }
        <!-- Wishlist Products -->
        @else {
        <ul class="grid grid-cols-1 items-center space-y-2 mt-5">
          @for (product of wishlistProducts(); track product.id) {
          <li>
            <article
              class="flex items-center gap-5 border border-border p-2 rounded-lg"
            >
              <!-- Product Image -->
              <figure class="relative rounded-lg overflow-hidden">
                <img
                  [src]="product.image_path"
                  [alt]="`${product.name}'s Picture`"
                  class="aspect-square max-w-[100px] object-cover rounded-lg border border-border transition-all duration-200 hover:brightness-90 hover:scale-105 ease-in-out"
                />

                <!-- Remove Product From Wishlist -->
                <button
                  class="absolute left-1 bottom-1 grid place-items-center p-1.5 cursor-pointer border border-border bg-surface rounded-full"
                  aria-label="Remove Product From Wishlist"
                  (click)="toggleWishlist(product)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="red"
                    [attr.fill]="isFavorite(product.id) ? 'red' : 'none'"
                    class="size-6"
                    [ngClass]="isFavorite(product.id) ? 'rotate-360 transition-transform duration-500 ease-in-out' : ''"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                    />
                  </svg>
                </button>
              </figure>

              <!-- Product Content -->
              <div class="flex flex-col gap-1.5 flex-1">
                <h3 class="text-lg font-medium line-clamp-1">
                  {{product.name}}
                </h3>
                <span
                  class="inline-flex w-max items-center text-sm text-surface bg-accent px-3 py-0.5 rounded-full transition-colors duration-200 hover:bg-accent/90"
                  >{{product.category}}</span
                >

                <div class="flex items-center justify-between gap-10">
                  <!-- Price & Discount -->
                  <span class="text-lg font-medium"
                    >{{product.price | currency:'INR':'symbol':'1.0-0'}}</span
                  >

                  <!-- Add To Cart Button -->
                  <button
                    class="grid place-items-center bg-accent gap-1.5 p-2 text-surface rounded-full text-sm transition-colors duration-100 hover:bg-accent/90 cursor-pointer"
                    aria-label="Add To Cart"
                    (click)="addToCartFromWishlist(product)"
                  >
                    <!-- Cart Icon -->
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="white"
                        class="size-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                        />
                      </svg>
                    </span>
                  </button>
                </div>
              </div>
            </article>
          </li>
          }
        </ul>
        }
      </div>
    </div>

    <!-- Order Summary -->
    <div
      class="flex flex-col gap-3 md:mt-23 border border-border rounded-2xl p-3"
    >
      <h3 class="text-xl font-medium">Order Summary</h3>

      <ul class="flex flex-col space-y-2 md:space-y-4">
        <li class="flex items-center justify-between">
          <span>Subtotal:</span>
          <span class="font-semibold">{{cartTotal() | currency:'INR':'symbol':'1.0-0'}}</span>
        </li>

        <li class="flex items-center justify-between">
          <span>Delivery:</span>
          <span class="font-semibold">FREE</span>
        </li>

        <li
          class="flex items-center justify-between border-t border-border pt-2"
        >
          <span class="font-medium">Total:</span>
          <span class="font-semibold text-lg"
                >{{cartTotal() | currency:'INR':'symbol':'1.0-0'}}</span
          >
        </li>
      </ul>

      <button
        (click)="goToCheckout()"
        class="inline-flex items-center mt-2 justify-center bg-accent px-4 py-2.5 text-surface w-full rounded-full text-lg transition-colors duration-200 hover:bg-accent/90 cursor-pointer"
        [disabled]="cartProducts().length === 0"
        [ngClass]="{'opacity-50 cursor-not-allowed': cartProducts().length === 0}"
      >
        Go To Checkout
      </button>
    </div>
  </app-container>
</section>
